<ul>
    <li><a href="/js-lib-class/">Home</a></li>
    
    <li><a href="/js-lib-class/wiki/installation">Installation</a></li>
    
    <li><a href="/js-lib-class/wiki/getting-started">Getting started</a>

    <li><a href="/js-lib-class/wiki/class-basic">Basic Syntax</a></li>

    <li><a href="/js-lib-class/wiki/class-friendly">Friendly Syntax</a></li></ul>
    
    <li><a href="https://github.com/hw-core/js-library-class">Repository</a></li>
    <li><a href="https://github.com/HW-Core/js-lib-class/issues>Ask support</a></li>
    </ul>
</ul>
